{# empty Twig template #}

<html>
    <head>
        <title>{% block title %}Gestion des membres{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/myappassociation/css/main.css') }}" type="text/css" media="all" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    </head>
    <body>
        <div id="page">
            <div id="header">
                <ul id="menu">
                    <li><a href="{{ path('myapp_accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('myapp_category_list') }}">Categories</a></li>
                    <li><a href="{{ path('myapp_member_list') }}">Membres</a></li>                    
                    <li><a href="{{ path('myapp_contact_list') }}">Contact</a></li>
                </ul>
            </div>
            <div id="choisir_langue">Choisir la langue :
                <a href="{{ path('myapp_lang_choice', {'lang' : 'fr'}) }}">FR</a> |
                <a href="{{ path('myapp_lang_choice', {'lang' : 'en'}) }}">EN</a>
            </div>
            <div id="content">
                <h1>{{ block('title') }}</h1>
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <p>Tous droits réservés © 2011</p>
            </div>
        </div>
    </body>
</html>
