{# empty Twig template #}
<td>{{ contact.Lastname }}</td>
<td>{{ contact.FirstName }}</td>
<td>{{ contact.birthday|date('d/m/Y') }}</td>
<td>{{ contact.sexe }}</td>
<td>{{ contact.email }}</td>
<td>{{ contact.tel }}</td>